{% extends 'front_base.html.twig' %}

{% block body %}
<main class="bg-gray-300 antialiased">
    <h1 class="text-2xl font-bold text-center my-4">Your orders</h1>
    {{ dump(orders) }}

</main>
{% endblock %}