{% extends 'front_base.html.twig' %}

{% block title %}Your account{% endblock %}

{% block body %}
<main class="">
    <h1 class="text-2xl font-bold text-center my-4">Manage your account</h1>

    <div class="container mx-auto mt-8">
        <div class="mt-16 bg-white relative shadow rounded-lg w-5/6 md:w-5/6  lg:w-5/6 xl:w-5/6 mx-auto">
            <div class="flex justify-between items-center py-5 px-6">
                <a href="{{ path('front_app_user_account_settings') }}"
                    class="text-gray-500 hover:text-gray-900 hover:bg-gray-100 rounded transition duration-150 ease-in font-medium text-sm text-center w-full py-3 border-2 mr-4">My
                    account</a>

                {% if is_granted('ROLE_SELLER') %}
                    <a href="{{ path('front_app_seller') }}"
                        class="text-gray-500 hover:text-gray-900 hover:bg-gray-100 rounded transition duration-150 ease-in font-medium text-sm text-center w-full py-3 border-2 ml-4">My Seller page</a>
                {% else %}
                    <a href="{{ path('front_app_seller') }}"
                        class="text-gray-500 hover:text-gray-900 hover:bg-gray-100 rounded transition duration-150 ease-in font-medium text-sm text-center w-full py-3 border-2 ml-4">Become a Seller</a>
                {% endif %}
            </div>

            <!-- Cards container -->
            <div class="h-full overflow-y-auto px-6 pb-6">
                <div class="container mx-auto grid">

                    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                        <!-- Card -->
                        <a href="{{ path('front_app_user_history') }}" class="flex items-center p-4 rounded shadow-xs hover:bg-gray-100 px-4  transition duration-200 ease-in-out">
                            <div>
                                <p class="mb-2 font-medium text-gray-900">
                                    Orders
                                </p>
                                <p class="font-semibold text-gray-400">
                                    14
                                </p>
                            </div>
                        </a>

                        <!-- Card -->
                        <div class="flex items-center p-4 rounded shadow-xs bg-gray-100 px-4">
                            <div>
                                <p class="mb-2 font-medium text-gray-900">
                                    Fidelity points
                                </p>
                                <p class="font-semibold text-gray-400">
                                    109
                                </p>
                            </div>
                        </div>

                        <!-- Card -->
                        <div class="flex items-center p-4 rounded shadow-xs bg-gray-100 px-4">
                            <div>
                                <p class="mb-2 font-medium text-gray-900">
                                    Favorites
                                </p>
                                <p class="font-semibold text-gray-400">
                                    7
                                </p>
                            </div>
                        </div>

                        <!-- Card -->
                        <div class="flex items-center p-4 rounded shadow-xs bg-gray-100">
                            <div>
                                <p class="mb-2 font-medium text-gray-900">
                                    Coupons
                                </p>
                                <p class="font-semibold text-gray-400">
                                    4
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}