{% extends 'front_base.html.twig' %}

{% block body %}
<main>
	<section class="text-gray-600 body-font">
		<div class="bg-white">
			<div
				class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
				<div>
					<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
						Privacy Notice
					</h2>
					<p class="mt-4 text-gray-500">
						At PixelFusion, we are committed to protecting the privacy and security of our customers' personal information. This privacy notice explains how we collect, use, and disclose personal information when you use our website.
					</p>
					<p class="mt-4 text-gray-500">
						We may change this privacy notice from time to time. We will post any changes on this page. Please check back frequently to see any updates or changes to this privacy notice.
					</p>

					<dl class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
						<div class="border-t border-gray-200 pt-4">
							<dt class="font-medium text-gray-900">Information We Collect</dt>
							<dd class="mt-2 text-sm text-gray-500">
								We collect the following types of personal information when you use our website:
							</dd>

							<ul class="mt-2 text-sm text-gray-500">
								<li class="mt-6">Contact Information: We may collect your name, email address, phone number, and mailing address when you create an account or place an order.</li>
								<li >Payment Information: We collect your payment information, including your credit card number and billing address, when you make a purchase on our website.</li>
								<li >Usage Information: We may collect information about how you use our website, including your browsing history and the pages you visit.</li>
								<li >Device Information: We may collect information about the device you use to access our website, including your IP address, browser type, and operating system.</li>
							</ul>
						</div>

						<div class="border-t border-gray-200 pt-4">
							<dt class="font-medium text-gray-900">Use of Information:</dt>
							<dd class="mt-2 text-sm text-gray-500">
								We use the information we collect for the following purposes:
							</dd>

							<ul class="mt-2 text-sm text-gray-500">
								<li class="mt-6">To provide you with the products and services you request.</li>
								<li>To process your payment and prevent fraud.</li>
								<li>To communicate with you about your order and our products and services.</li>
								<li>To improve our website and your shopping experience.</li>
								<li>To send you marketing communications.</li>
							</ul>
						</div>

						<div class="border-t border-gray-200 pt-4">
							<dt class="font-medium text-gray-900">Disclosure of Information:</dt>
							<dd class="mt-2 text-sm text-gray-500">
								We may share your personal information with the following third parties:
							</dd>

							<ul>
								<li class="mt-6 text-sm text-gray-500"><strong>Service providers</strong>: We may share your personal information with third-party service providers who perform services on our behalf, such as payment processing, order fulfillment, and marketing assistance.</li>
								<li class="mt-2 text-sm text-gray-500"><strong>Business transfers</strong>: We may share your personal information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</li>
								<li class="mt-2 text-sm text-gray-500"><strong>Compliance with laws</strong>: We may disclose your personal information where we are legally required to do so in order to comply with applicable law, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena.</li>
								<li class="mt-2 text-sm text-gray-500"><strong>Protection of rights and property</strong>: We may disclose your personal information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</li>
							</ul>
						</div>

						<div class="border-t border-gray-200 pt-4">
							<dt class="font-medium text-gray-900">Security of Information:</dt>
							<dd class="mt-2 text-sm text-gray-500">
								We take reasonable steps to help protect your personal information from loss, theft, misuse, and unauthorized access, disclosure, alteration, and destruction.
							</dd>
						</div>
					</dl>
				</div>
				<div class="mt-8">
					<img src="https://images.unsplash.com/photo-1676999665620-827a6c9691c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1015&q=80"
						alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
						class="rounded-lg bg-gray-100">
				</div>
			</div>
		</div>
	</section>


</main>
{% endblock %}