<form method="post" action="{{ path('front_app_cart_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to remove this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn bg-transparent">
        <i class="fa-solid fa-trash"></i>
    </button>
</form>
