<!DOCTYPE html>

<title>Cart index</title>

{% block body %}
    <h1>Cart index</h1>
    <div>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAT</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ cart.createdAt ? cart.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cart.updatedAT ? cart.updatedAT|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('front_app_cart_show') }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
