{% extends 'front_base.html.twig' %}

{% block body %}
    <h1 class="text-3xl font-bold text-center py-8">Edit Product</h1>

    {{ include('front/product/_formUpdate.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
