{% extends 'back_base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-slate-300">Dashboard</h1>
</div>

<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 dark:bg-gray-800 dark:text-slate-300">

    <h1>Hello controller! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/srv/app/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/srv/app/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>

{% endblock %}

